.idea
app/frontend/node_modules
app/frontend/public

# R project files -------------------------------------------------------------
.Rproj.user
.Rhistory
.Rdata
.RData
.httr-oauth
.DS_Store
StreamFind.Rproj
.vscode

# Excluded project folders ----------------------------------------------------
**/doc
/Meta/

# Globally excluded file types and folders ------------------------------------
*.sqlite
*.o
*.so
*.dll
**/log

# Excluded rds, cache and html files ------------------------------------------
/handbooks/Handbook_backend_StreamFind.html
/handbooks/Handbook_backend_StreamFind_cache
/handbooks/Handbook_backend_StreamFind_files
settings_pp.rds
settings_pp_2.json
settings.json
ffs.json
gfs.json
fls.json
settings_find_features.json
settings_group_features.json
/dev/template_report.html
inst/doc
