
# R project files -------------------------------------------------------------
*.Rproj.user
*.Rhistory
*.Rdata
*.RData
*.httr-oauth
*.DS_Store
*.Rproj
*.vscode
*.quarto

# Excluded project folders ----------------------------------------------------
**/doc
/Meta/
**/log
/cache

# Globally excluded file types and folders ------------------------------------
*.sqlite
*.rds
*.json
*.o
*.so
*.dll
*.html
.Rproj.user
/.quarto/
**/*.quarto_ipynb
