@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  padding: 10px;
}

.container {
  position: absolute;
  display: table-row;
  /*Set your top-right-bottom-left absolute position here*/
}

.container > div {
  display: table-cell;
}

.left {
  min-width: 200px;
}

.right {
  width: 100%;
}

.drop {
  background-color: white;
  opacity: 1;
  background-image: radial-gradient(#ffffff 2px, transparent 2px),
    radial-gradient(#ffffff 2px, white 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.demo_box {
  flex: 0 0 15%;
  height: 28vh;
  background-color: #c1eff9;
  border-radius: 0px;
  border: 1px solid black;
  margin-left: 8px;
  padding-left: 15px;
  overflow: hidden;
}

.upper_div {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
