@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #b3bdca;
  padding: 10px;
}

.container {
  position: absolute;
  display: table-row;
  /*Set your top-right-bottom-left absolute position here*/
}

.container > div {
  display: table-cell;
}

.left {
  min-width: 200px;
}

.right {
  width: 100%;
}

.drop {
  background-color: #8d98aa;
  opacity: 1;
  background-image: radial-gradient(#ffffff 2px, transparent 2px),
    radial-gradient(#ffffff 2px, #8d98aa 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
}

.demo_box {
  flex: 0 0 15%;
  height: 28vh;
  background-color: #8d98aa;
  border-radius: 0px;
  border: 1px solid white;
  margin-left: 8px;
  text-align: center;
  padding-left: 15px;
}
