body .main-container {
  max-width: 1200px !important;
  width: 1200px !important;
}
body {
  max-width: 1200px !important;
}
body, p {
  color: black;
  font-family: Arial;
  text-align: justify;
  font-size: 12pt;
}
h1{
  font-size: 20pt;
  font-weight: bold;
}
h2{
  font-size:18pt;
  font-weight: bold;
}
h3{
  font-size:14pt;
  font-weight: bold;
}
list-group-item .active{
  background-color: #239B56;
}
list-group-item .active:focus{
  background-color: #239B56;
}
list-group-item .active:hover{
  background-color: #239B56;
}
caption {
  color: black;
  font-size: 1.0em;
}
